html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --modviolet: hsl(263, 55%, 52%);
  --dkgreysblue: hsl(217, 19%, 35%);
  --dkblacksblue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --ltgrey: hsl(0, 0%, 81%);
  --ltgreysblue: hsl(210, 46%, 95%);
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}
